@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body, html {
    margin: 0;
}
body * {
    margin: 0;
    color: #002626;
    font-family: 'Work Sans';
}
ul {
    margin-right: 5px;
    padding: 22px;
}
ul li {
    display: inline;
    font-size: 200%;
    margin-left: 10px;
    font-weight: bold;
}
ul li a {
    color: #002626;
    transition: all 0.2s ease;
    text-decoration: none;
}
ul li a:hover {
    color: #E71D36;
}
header {
    border-bottom: 5px solid #002626 ;
}
.active {
    color: #909090
}
#nav {
    float: right;
}
#logo {
    height: 75px;
    margin: 5px;
}